<%=provide(:title , "sign up")%>

<div class="form-container">
<%= form_for(@user, url: signup_url) do |f| %>
<%= render 'shared/error_messages'%>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "confirmation" %>
<%= f.password_field :password_confirmation %>

<%= f.submit "create acount"%>
<% end %>
</div>